.modalStyle .ant-modal-header {
  border-radius: 20px 20px 0 0;
  background-color: #d3dfd1;

}

.newStyle {
  border-radius: 20px;
}

.ant-modal-content {
  border-radius: 20px;
}

.modalStyle2 {
  border-radius: 20px;
}
.modalStyle .ant-modal-content {
  background-color: #ebf1ea;
}
